*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;   /*sans-serif : 삐침 없고 굵기가 일정한 고딕 계열의 글꼴*/
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

#container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

.post {
    border:  1px solid #ddd;
    margin: 10px 0;
    padding : 20px;
    background-color: #fff;
}

form{ 
    /*
    margin: 20px;                상 하 좌 우 모두 20px
    margin: 20px 0;              상하 20px 좌우 0
    margin: 10px 20px 30px 40px; 시계방향으로 위(10px), 오른쪽 (20px), 아래(30px), 왼쪽(40px)
    */
    margin: 20px 0;  
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

label {
    display: block;
    font-size: 20px;
}

input[type="text"], textarea{
    width: 100%;
    padding:  10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

button[type="submit"]{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding:10px 20px;
    font-size:  18px;
    cursor: pointer;
}

.delete-button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}